form {
  font-family: sans-serif;
}
input[type=text] {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
}
select {
  width: 200px;
  padding: 4px;
  border-radius: 8px;
  background-color: antiquewhite;
}
textarea {
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
input[type=button], input[type=submit] {
  background-color: mediumseagreen;
  color: white;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover {
  background-color: seagreen;
  color: lightgray;
}
#ashanti {
  background-color: tomato;
  color: white;
  width: 200px;
}
#ashanti:hover {
  background-color: teal;
  color: lightgray;
}
